@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-bg-hero-light {
    @apply inset-0 bg-[size:24px_24px] bg-[position:-1px_-1px] bg-[linear-gradient(to_right,#00000020,transparent_1px),linear-gradient(to_bottom,#00000020,transparent_1px)];
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #f2f2f2; /* Or #fff, depending on your theme */
  color: white; /* Or black */
  overflow-x: hidden;
  user-select: none;
  @apply grid-bg-hero-light;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

.green {
  background-color: rgb(140, 255, 46);
}

.pause-on-hover {
  animation-play-state: inherit;
}