@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .grid-bg-hero-light {
    @apply inset-0 bg-[size:24px_24px] bg-[position:-1px_-1px] bg-[linear-gradient(to_right,#ffffff20,transparent_1px),linear-gradient(to_bottom,#ffffff20,transparent_1px)];
  }
} */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #f4f6ff; /* Or #fff, depending on your theme */
  color: white; /* Or black */
  overflow-x: hidden;
  user-select: none;
}

h1 {
  font-family: "Roboto", sans-serif;
}


.green {
  background-color: rgb(140, 255, 46);
}

.pause-on-hover {
  animation-play-state: inherit;
}
